.kurslar {
    
    display: flex;
    /*  elementlar orasidagi masofa*/
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
  backdrop-filter: blur(15px); 
  -webkit-backdrop-filter: blur(15px);
  
}

.box {
    max-width: 450px;

    height: 580px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 11px;
}

 .rasm1 {
    width: 100%;
    height: 250px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.box .content {
    color: #fbfafa;
    padding: 10px;
}

.box .content h1 {
    text-align: center;
}

.box .content p {
    text-align: bold;
    text-shadow: 0px 0px 1px rgb(0, 0, 0);
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

.box .content .price {
    font-size: 24px;
    font-weight: bold;
    display: flex;
   
}
.rasm2 {
    width: 100%;
    height: 250px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.rasm3 {
    width: 100%;
    height: 250px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.rasm4 {
    width: 100%;
    height: 250px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}
.sar{
    color: rgb(193, 191, 191);
    font-size: 100px;
    text-align:center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    text-shadow: 1px 10px 5px rgb(136, 136, 136);
}
.body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid rgba(255,255,255,0.3);  
    box-sizing: border-box;
}
body{
        background: url("./rasm.png/image\ copy\ 8.png") center/cover no-repeat;

}
.box del{
    color: rgb(155, 155, 151);
}
